Repository actions-marketplace-validations/RAprogramm_rust-prod-diff-checker: changes, and which Codecov flags are due for each by the changed paths.
All: lib, bin

codecov.yml:

# SPDX-FileCopyrightText: 2025 RAprogramm <andrey.rozanov.vl@gmail.com>
# SPDX-License-Identifier: MIT

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 5%
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

ignore:
  - "benches/**"
  - "examples/**"
  - "tests/**"

flags:
  lib:
    paths:
      - "src/lib.rs"
      - "src/analysis/**"
      - "src/config.rs"
      - "src/error.rs"
      - "src/git/**"
      - "src/output/**"
    carryforward: true
  bin:
    paths:
      - "src/bin/**"
    carryforward: true

docs: add coverage graph descriptions
  README.md
Due: none

ci: prevent changelog CI loop with skip ci
  .github/workflows/ci.yml
Due: none

style: format property tests
  tests/property.rs
Due: none

ci: fix JUnit XML file name pattern for Codecov
  .config/nextest.toml
  .github/workflows/ci.yml
Due: none

ci: changelog updates on any push to main
  .github/workflows/ci.yml
Due: none

ci: use flag_management for automatic flag detection
  codecov.yml
Due: none

docs: update release badge to show version
  README.md
Due: none

docs: update description to emphasize PR size limiting
  README.md
  action.yml
Due: none

fix: correct commit message format in contributing guide
  CONTRIBUTING.md
Due: none

fix: correct action repository name in README
  README.md
Due: none

#7 feat: add PR comments with analysis results
  .github/workflows/example.yml
  .reuse/dep5
  Cargo.toml
  README.md
  action.yml
  src/bin/main.rs
  src/config.rs
  src/output.rs
  src/output/comment.rs
  src/output/formatter.rs
Due: lib, bin

ci: add crates.io publish job on tag push
  .github/workflows/ci.yml
  Cargo.toml
Due: none

ci: fix publish with --allow-dirty
  .github/workflows/ci.yml
Due: none

ci: publish only on full version tags
  .github/workflows/ci.yml
Due: none

chore: bump version to 1.1.1
  Cargo.toml
Due: none

Inject CodeQL file
  .github/workflows/codeql-analysis-injected.yml
Due: none

docs: add small PR guidelines and Russian translation
  CONTRIBUTING.md
  CONTRIBUTING.ru.md
Due: none

#12 docs: update documentation for new features
  CHANGELOG.md
  CONTRIBUTING.md
  CONTRIBUTING.ru.md
  README.md
Due: none

#12 ci: remove example workflow
  .github/workflows/example.yml
Due: none

#12 ci: add PR size analysis with comment
  .github/workflows/ci.yml
Due: none

#12 feat: improve limits display in PR comment
  src/output/comment.rs
Due: lib

#12 feat: add --no-fail flag for controlled CI exit
  CHANGELOG.md
  README.md
  action.yml
  src/bin/main.rs
Due: bin

#12 ci: block build on pr-analysis failure
  .github/workflows/ci.yml
Due: none

#12 feat: GitHub alerts in PR comments
  src/output/comment.rs
Due: lib

#12 fix: remove unused status variable
  src/output/comment.rs
Due: lib

#12 feat: professional PR comment UI with collapsible sections
  src/output/comment.rs
Due: lib

#12 style: blockquote for section descriptions
  src/output/comment.rs
Due: lib

feat: improve CI pipeline and PR comment formatting
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/output/comment.rs
Due: lib

fix(ci): check remote tags instead of local in auto-tag job
  .github/workflows/ci.yml
Due: none

#40 fix: correct change mapping attribution and per-file error handling (#46)
  src/analysis/mapper.rs
  src/git/diff_parser.rs
  src/git/hunk.rs
  src/output/comment.rs
  src/types/scope.rs
Due: lib

#41 fix: correct classification of cfg predicates, attributes and paths (#47)
  src/analysis/ast_visitor.rs
  src/classifier/attr_classifier.rs
Due: lib

#42 fix: repair author filter, fail_on_exceed detection and shell hardening in action (#50)
  README.md
  action.yml
Due: none

#43 fix: remove no-op ignore-authors flag, flush stdout, accept non-UTF-8 diffs (#51)
  README.md
  src/bin/main.rs
Due: bin

#53 refactor: write-based output formatting and parser header cleanups (#54)
  src/analysis/ast_visitor.rs
  src/config.rs
  src/git/diff_parser.rs
  src/output/formatter.rs
  src/output/github.rs
Due: lib

#55 chore: release v2.0.0 with updated classification docs (#56)
  Cargo.lock
  Cargo.toml
  README.md
Due: none

#59 chore: release v2.0.1 through the fixed tag pipeline (#60)
  Cargo.lock
  Cargo.toml
Due: none
